%html
  %head
    %meta{:charset => "UTF-8"}/
    %title CV de Jonathan HURTER
    %link{:href => "style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Montserrat", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Quicksand", :rel => "stylesheet", :type => "text/css"}/
  %body
    %h1.titre
      %span.first Jonathan
      %img#photo{:src => "photo.png"}
      %span.first HURTER
    %table
      %tr
        %th Diplôme
        %th Option
        %th Année
        %th Etablissement
      %tr
        %td Diplôme d'ingénieur en informatique
        %td ILC
        %td 2017
        %td Ecole Nationale d'Informatique pour l'Industrie et l'Entreprise
      %tr
        %td DUT Informatique
        %td Imagerie
        %td 2014
        %td IUT Robert Schumann Illkirch
      %tr
        %td Baccalauréat Scientifique
        %td Science de l'Ingénieur
        %td 2012
        %td Lycée Louis Couffignal Strasbourg
      %tr
        %td Brevet des collèges
        %td --
        %td 2009
        %td Collège Romain Rolland Erstein