!!!
%html
  %head
    %title Mon supper blog
    %meta(charset="UTF-8")
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    %link(rel="stylesheet" href="/css/styles.css")
  %body
    #wrapper
      #header
        %h1 Le super blog de john !
      #content
        =yield

      #footer
        %p
          © Jonathan HURTER 2015 - ENSIIE Strabourg
    %script(src="https://code.jquery.com/jquery-2.1.3.min.js")
    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
